<%- include('./partials/head') %>
    <h2><%= title %></h2>

    <form method='post'>
      <div>
        <label for='username'>Username: </label>
        <input type='text' name='username' id='usernameInput'>
      </div>

      <div>
        <button type='submit'>Submit</button>
      </div>
    </form>

    <a href='/'>Index Page</a>

<%- include('./partials/footer') %>